<%= form_for @profile, url: user_profile_path, :html => { :multipart => true, class: 'form-horizontal' } do |f| %>
   <div class="form-group">
      <div class='col-md-3 text-right'>
         <%= f.label :first_name %>
      </div>
      <div class='col-md-9'>
         <%= f.text_field :first_name, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class='col-md-3 text-right'>
         <%= f.label :last_name %>
      </div>
      <div class='col-md-9'>
         <%= f.text_field :last_name, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class='col-md-3 text-right'>
         <%= f.label :avatar %>
      </div>
      <div class='col-md-9'>
         <%= f.file_field :avatar, class: 'form-control' %>
         <!-- 
            <div class="form-input-info">
            <h6>Avatar image must be <= 300x300px</h6>
            </div>
         -->
         <div class='checkbox'>
            <% if @profile.avatar.exists? %>
               <%= f.label :remove_avatar do %>
                  <%= f.check_box :remove_avatar %><span class="h5"> Remove Avatar</span>
               <% end %>
               <!-- 
                  <div class="col-xs-2">
                  </div>
                  <div class="col-xs-10">
                  </div>
               -->
            <% end %>
         </div>
      </div>
   </div>
   <div class="form-group">
      <div class='col-md-3 text-right'>
         <%= f.label :job_title %>
      </div>
      <div class='col-md-9'>
         <%= f.select :job_title, ['Developer', 'Entrepreneur', 'Investor'], {}, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class='col-md-3 text-right'>
         <%= f.label :phone_number %>
      </div>
      <div class='col-md-9'>
         <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class='col-md-3 text-right'>
         <%= f.label :contact_email %>
      </div>
      <div class='col-md-9'>
         <%= f.text_field :contact_email, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class='col-md-3 text-right'>
         <%= f.label :description %>
      </div>
      <div class='col-md-9'>
         <%= f.text_area :description, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class='col-md-3 text-right'>
      </div>
      <div class='col-md-9'>
         <%= f.submit "Update Profile", class: 'btn btn-primary' %>
      </div>
   </div>
<% end %>
