<div class="row">
   <div class='col-sm-6 col-sm-offset-3'>
      <div class="text-center">
         <h1>Edit Your Profile</h1>
      </div>
      <div class="well">
         <%= render 'form' %>
      </div>
   <div class="text-center">
      <%= link_to "Change Password or Delete Account", edit_user_registration_path(current_user), class: 'btn btn-large btn-danger' %>
   </div>
   </div>
</div>

