<div class="row">
   <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
         <h1>Create Your Profile</h1>
         <p>Be a part of the Dev Match community and fill out your profile!</p>
      </div>
      <div class="well">
         <%= render 'form' %>
      </div>
   </div>
</div>
