<div class="row">
   <div class="col-sm-6 col-sm-offset-3">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal well' }) do |f| %>
         <%= devise_error_messages! %>

         <div class="field form-group">
            <div class="col-md-3 text-right">
               <%= f.label :email %><br />
            </div>
            <div class="col-md-9">
               <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
         </div>

         <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
         <% end %>

         <div class="field form-group">
            <div class="col-md-3 text-right">
               <%= f.label :password %><br />
            </div>
            <div class="col-md-9">
               <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
               <h6 class="profile-form-help"><i>(leave blank if you don't want to change it)</i></h6>
            </div>
         </div>

         <div class="field form-group">
            <div class="col-md-3 text-right">
               <%= f.label :password_confirmation %><br />
            </div>
            <div class="col-md-9">
               <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
         </div>

         <div class="field form-group">
            <div class="col-md-3 text-right">
               <%= f.label :current_password %> <br />
            </div>
            <div class="col-md-9">
               <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
               <h6 class="profile-form-help"><i>(we need your current password to confirm your changes)</i></h6>
            </div>
         </div>

         <div class="actions form-group">
            <div class="col-md-3 text-right">
            </div>
            <div class="col-md-9 text-right">
               <%= f.submit "Update", class: 'btn btn-primary' %>
            </div>
         </div>
      <% end %>

      <div class="row">
         <div class="col-md-12">
            <div class="col-md-12 well">
               <div class="col-md-6 text-center">
                  <h3>Cancel my account</h3>
               </div>
               <div class="col-md-6 text-center">
                  <span class="h6 profile-form-help">Unhappy?</span><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-md btn-danger profile-form-back-btn' %>
            </div>
            </div>
         </div>
      </div>
      <div class="text-center profile-form-back-btn">
         <%= link_to "Back", :back, class: 'btn btn-primary btn-md' %>
      </div>
   </div>
</div>


