<div class="row">
   <div class="col-sm-8 col-sm-offset-2">
      <h1>Dev Match Community</h1>
      <p>Welcome to the Dev Match Community. Users must fill out a profile before they are visible in the community list.</p>
      <div class="row community-profile-list">
         <% @users.each do |user| %>
            <% if user.profile %>
               <%= link_to user do %>
               <div class="well row <%= cycle('', 'white-bg') %>">
                  <div class="col-xs-2 profile-avatar">
                     <% if user.profile.avatar.exists? %>
                        <%= image_tag user.profile.avatar.url(:medium), class: 'img-responsive img-circle center-block' %><br>
                     <% end %>
                  </div>
                  <div class="col-xs-10">
                     <h3>
                        <%= user.profile.first_name %>
                        <%= user.profile.last_name %>
                     </h3>
                     <p>
                     <%= user.profile.job_title %>
                     <% if user.plan_id == 2 %>
                        <span class="label label-danger">PRO</span>
                     <% end %>
                     </p>
                  </div>

               </div>
            <% end %>
            <% end %>
         <% end %>
      </div>
   </div>
</div>
