<div class="row">
   <div class="col-sm-3">
      <% if @user.profile.avatar.exists? %>
         <%= image_tag @user.profile.avatar.url(:medium), class: 'img-responsive img-circle center-block' %><br>
      <% end %>
   </div>
   <div class="col-sm-6">
      <h1>
         <%= @user.profile.first_name %> <%= @user.profile.last_name %><br>
      </h1>
      <h3>
         <span class="job-title-icon">
            <%= job_title_icon %>
         </span>
         <%= @user.profile.job_title %><br>
      </h3>
      <div class="well profile-block">
         <h3>Description</h3>
         <%= @user.profile.description %><br>
      </div>

      <% if current_user.plan_id == 2 %>
         <div class="well profile-block">
            <h3>Contact Information</h3>
            <%= @user.profile.phone_number %><br>
            <%= @user.profile.contact_email %><br>
         </div>
      <% end %>

      <br>

      <% if current_user.id == @user.id %>
         <%= link_to "Edit your profile", edit_user_profile_path(current_user), class: 'btn btn-primary btn-inline' %>
      <% end %>

   </div>
</div>
