<div class="row">
   <div class="col-sm-6 col-sm-offset-3">
      <h1>Contact Us</h1>
      <p>Reach out if you have any questions or comments.</p>
        <div class="well">
            <%= form_for @contact do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class: 'form-control' %>
                </div>

                <%= f.submit 'Submit', class: 'btn btn-default' %>
            <% end %>
        </div>

    </div>
</div>
