<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            <h2>Log in</h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                </div>

                <div class="field form-group">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="field form-group">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                    </div>
                <% end -%>

                <div class="actions form-group">
                    <%= f.submit "Log in", class: 'btn btn-default' %>
                </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
