
body {

}

.navbar li .navbar-btn {
   margin-left:0.7em;
}

/*
 * Row with equal height columns
 */
.row-eq-height {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display:         flex;
}

.alert-alert {
   color: #8a6d3b;
   background-color: #fcf8e3;
   border-color: #faebcc;
}

.alert-notice {
   color: #8a6d3b;
   background-color: #fcf8e3;
   border-color: #faebcc;
}

li a.navbar-profile-thumb img {
   border: 1px solid black;
   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   height: 3em;
   width: 3em;
   overflow: hidden;
   text-align: center;
   padding: 0;
   img { width: 100% }
}

li a.navbar-profile-thumb {
   padding: 0;
}

