.job-title-icon {
   display: inline-block;
   width: 1.3em;
   height: 1.3em;
   text-align: center;
   font-size: 1.3em;
   border: 2px solid #2e6da4;
   border-radius: 4px;
   background-color: #337ab7;
   color: white;
}

.well.profile-block {
   h3 { margin-top: 0; }
}

.fa {
   padding: 2px;
}

label {
   padding-top: 0.5em;
}

.community-profile-list .row {
   margin-top: 1em;
   margin-bottom: 1em;
}

.community-profile-list h3,
.community-profile-list p {
   text-decoration: none;
   color: black;
}

.well.white-bg {
   background-color: white; 
}

.profile-form-help {
   margin-top: 0.1em;
   margin-bottom: 0.1em;
}

.profile-form-back-btn {
   margin-top: 0.5em;
}
