<!DOCTYPE html>
<html>
   <head>
      <title>Dev Match</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'https://js.stripe.com/v2/', type: 'text/javascript' %>
      <%= javascript_include_tag 'application' %>
      <%= tag :meta, :name => 'stripe-key', :content => STRIPE_PUBLIC_KEY %>
      <%= csrf_meta_tags %>
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <%= link_to root_path, class: 'navbar-brand' do %>
                  <i class="fa fa-users"></i>
                  Dev Match
               <% end %>
            </div>

            <div class="collapse navbar-collapse" id="main-nav-collapse">
               <ul class="nav navbar-nav navbar-right text-right">
                  <li><%= link_to "About", about_path %></li>
                  <li><%= link_to "Contact", new_contact_path %></li>
                  <% if user_signed_in? %>
                     <% if current_user.profile %>
                        <li><%= link_to "Community", users_path %></li>
                        <li>
                           <div>
                              <% if current_user.profile.avatar.exists? %>
                                 <%= link_to image_tag(current_user.profile.avatar.url(:thumb)), user_path(current_user), class: 'navbar-profile-thumb' %>
                              <% end %>
                              <%= link_to "Your Profile", user_path(current_user), class: 'btn btn-success navbar-btn' %>
                           </div>
                        </li>
                     <% end %>
                     <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %></li>
                  <% else %>
                     <li><%= button_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %></li>
                  <% end %>
               </ul>
            </div><!-- navbar-collapse -->
         </div>
      </nav>
      <div class="container">
         <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "alert alert-#{key}" %>
         <% end %>

         <%= yield %>
      </div>

   </body>
</html>
